.date-input{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: -1px;
    align-items: stretch;
    .button-1{
        height: 30px;
        display: flex;
        align-items: center;
    }
    &__input{
        font-weight: 700;
        max-width: 75px;
        &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator{
            display: none;
            -webkit-appearance: none;
        }
    }
    &__middle{
        @media screen and (max-width: 800px) {
            flex-grow: 1;
            justify-content: center;
        }
    }
    &__icon{
        width: 16px;
        height: 16px;
    }
}