.match-table{
    overflow: scroll;
    max-width: 100%;
    .table{
        min-width: 620px;
    }
    &__top{
        margin-bottom: 5px;
    }
    &__body{
        overflow: scroll;
        max-width: calc(100vw - 70px);
        @media screen and (max-width: 500px) {
            max-width: calc(100vw - 60px);
        }
    }
    &__arrow{
        width: 11px;
        height: 11px;
        background: url('../../images/icons/arrow.png');
        background-size: contain;
        margin-left: 5px;
        opacity: .5;
    }
}