.pagination{
    display: flex;
    gap: 5px;
    &__point{
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 700;
        &--parent{
            text-transform: uppercase;
            font-weight: normal;
        }
    }
    &__icon{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
    &__delmiter{
        display: flex;
        align-items: center;
    }
}