body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    background-color: var(--body-color);
    @media screen and (max-width: 500px) {
        font-size: 12px;
    }
}
button, input {
    color: var(--font-color);
}
.container{
    margin: 0 auto;
    max-width: var(--container-width);
    @media screen and (max-width: 1050px) {
        width: 100%;
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    @media screen and (max-width: 800px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.main-section{
    padding: 35px 0;
    .sidebar{
        flex: 1;
    }
    .content{
        flex: 3;
    }
    .container{
        display: flex;
    }
    &__ui-block{
        @media screen and (max-width: 500px) {
            max-width: calc(100%);
        }
    }
}
h1{
    font-size: 20px;
    font-weight: 800;
}
h2{
    font-weight: 700;
    font-size: 18px;
}
.green{
    color: var(--accent-color-darker);
}