:root{
    --body-color: #E3E3E3;
    --font-color: #000;
    --accent-color: #33FFB5;
    --accent-color-darker: #32E6A5;
    --accent-color-light: rgba(51,255,181,.2);
    --ui-color: #E2E2E2;
    --ui-color-light: #eeeeee;
    --container-width: 980px;
}